
settings.json
.idea/CelesteSpeedrunStats.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/saveparser.cpython-39.pyc
.idea/workspace.xml
